.body-div {
  margin: auto;
  max-width: 70%;
}


header img {
  height: auto;
  width: 100px;
  height: auto;
}

.header-details, header img {
  display: inline-block;
}

.grey-divide {
  background-color: #bcbbbb;
  height: 5px;
  width: 100%;
}



.hero-image {
  max-width: 100%;
}


.feature {
  display: inline-block;
  max-width: 300px;
  text-align: center;
  width: 30%;
}

.feature img {
  width: 200px;
  height: auto;
}