@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "inuit.css/inuit";


/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */
//@import "ui/example";


.body-div {
  margin: auto;
  max-width: 70%;
}

.header-details {
  text-align: right;
}

header img {
  height: auto;
  width: 100px;
  height: auto;
}

.grey-divide {
  background-color: #bcbbbb;
  height: 5px;
  width: 100%;
}

.hero-image {
  max-width: 100%;
}

.feature img {
  width: 200px;
  height: auto;
}