// HEADER SECTION

.grey-divide {
  background-color: #bcbbbb;
  height: 5px;
  width: 100%;
}


// BODY SECTION

#hero-image {
  max-width: 100%;
}


.feature {
  display: inline-block;
  max-width: 300px;
  text-align: center;
  width: 30%;
}


img {
  width: 100%;
}
