/* HEADER SECTION*/

.grey-divide {
	height: 5px;
	width: 100%;
	background-color: #BCBBBB;
}


/* BODY SECTION */

#hero-image {
	max-width: 100%;
}


.feature {
	width: 30%;
	max-width: 300px;
	text-align: center;
	display: inline-block;
}


.feature img {
	width: 100%;
}