@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "inuit.css/inuit";


/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */
//@import "ui/example";

h1, h2, h3, h4, p, a {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}

h1 {
  font-weight: 100;
  font-size: 38px;
  margin: 0px;
}

h2 {
  padding: 10px 0px 0px;
  margin: 0px;
  font-size: 38px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #bcbbbb;
}

.body-div {
  color: #676857;
  margin: auto;
  padding: 0px 5%;
  max-width: 1200px;
}

header {
  margin: 20px 0px 0px;
  img {
    height: auto;
    width: 120px;
    margin: 0px auto 10px;
  }
}

.header-details {
  text-align: right;
  vertical-align: bottom;
}

.grey-divide {
  background-color: #bcbbbb;
  height: 5px;
  width: 100%;
}

.hero-image {
  max-width: 100%;
}

.featured-work {
  color: #bcbbbb;
  margin: 0px 0px 0px 10px;
}

.feature {
  text-align: center;
  margin: 0px 0px 30px;
}